@import 'nib'
@import 'mixins'

global-reset()

*, *:before, *:after
  box-sizing border-box

body
  background-color #bbce95

.wrap
  width 80%
  margin 0 auto

.content
  padding 3em
  background-color #c088c0
  position relative

.stuff
  color yellow
  font-size 2rem

.thing
  width 100px
  height 100px
  background-color cyan
  position absolute
  transition all .5s
  left 0%
  &.transition--step-0
    background-color red
  &.transition--step-1
    width calc(50% - 3rem)
    left 50%
  &.transition--step-2
    width calc(50%)    
    height 25vh
    background-color purple